
.modal-busket-content {
    && {
        border-radius: 16px;
        margin-left: auto;
        margin-top: 20px;
        margin-right: 250px;
        max-height: 600px;
        height: fit-content;
    }

}


.modal-busket-body {
    && {
        scrollbar-width: none;
        overflow: hidden;
        height: 100%;
    }
    
}