
.modal-busket-inner {
    && {
        max-width: 1440px;
        justify-self: center;
        padding-right: 0;
    }
}


.modal-busket-content {
    && {
        border-radius: 16px;
        margin-left: auto;
        margin-top: 20px;
        margin-right: 15px;
        max-height: 600px;
        height: fit-content;
    }

}


.modal-busket-body {
    && {
        scrollbar-width: none;
        overflow: hidden;
        height: 100%;
    }
    
}